<div class="lockscreen-logo" wrapper-style="true" body-style="true">
    <a href="#"><b>Admin</b></a>
</div>
<!-- User name -->
<div class="lockscreen-name">Tony</div>
<!-- START LOCK SCREEN ITEM -->
<div class="lockscreen-item">
    <!-- lockscreen image -->
    <div class="lockscreen-image">
        <img src="assets/images/user1-128x128.jpg" alt="User Image" />
    </div>
    <!-- /.lockscreen-image -->
    <!-- lockscreen credentials (contains the form) -->
    <form class="lockscreen-credentials">
        <div class="input-group">
            <input type="password" class="form-control" placeholder="password" />
            <div class="input-group-btn">
                <button class="btn" ng-click="loginClick()"><i class="fa fa-arrow-right text-muted"></i></button>
            </div>
        </div>
    </form>
    <!-- /.lockscreen credentials -->
</div>
<!-- /.lockscreen-item -->
<div class="help-block text-center">
    Enter your password to retrieve your session
</div>
